---
apiVersion: v1
kind: Pod
metadata:
  labels:
    run: liveness-app
  name: liveness-app
  namespace: "{{ a_ns }}"
spec:
  containers:
  - image: openebs/tests-custom-client:latest
    name: custom-client
    env:
      - name: SERVICE
        value: 'nginx'
      - name: INIT_WAIT_DELAY
        value: '2'
      - name: INIT_RETRY_COUNT
        value: '1'
      - name: LIVENESS_PERIOD_SECONDS
        value: '2'
      - name: LIVENESS_TIMEOUT_SECONDS
        value: '3'
      - name: LIVENESS_RETRY_COUNT
        value: '5'
      - name: PORT
        value: '80'
      - name: NAMESPACE
        value: "{{ a_ns }}"
  dnsPolicy: ClusterFirst
  restartPolicy: Always
